.question_answer {
  overflow: hidden;
  transition: max-height .3s ease;
  padding-top: 1.9rem;
  padding-bottom: 1.9rem;
}

.question {
  display: flex;
  justify-content: space-between;
}

.question:hover {
  cursor: pointer;
}

.question.collapse > p,
.question.collapse:hover > p {
  font-weight: var(--weight-thick);
  color: var(--dark-desaturated-blue);
}

.question > img {
  max-width: none;
  height: 100%;
  width: auto;
  margin-right: 1.5rem;
}

.question.collapse > img {
  transform: rotate(180deg)
}

.question > p {
  max-width: calc(100% - 3.5rem);
  font-size: 1.3rem;
  color: var(--very-dark-grayish-blue);
}

.question:hover > p {
  color: var(--soft-red)
}

.answer {
  max-width: calc(100% - 3.5rem);
  padding-top: 1.9rem;

  font-size: 1.2rem;
  line-height: 1.8rem;
}

.answer.collapse {
  padding-top: 1.3rem;
}

.divider {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  border: none;
  border-bottom: .1rem solid var(--light-grayish-blue);
}

@media (min-width: 963px) {
  .question {
    font-size: 1.4rem;
  }
}