.container {
  --primary-violet: hsl(257, 40%, 49%);
  --primary-soft-magenta: hsl(300, 69%, 71%);

  --font-family-header: 'Poppins', sans-serif;
  --font-family-body: 'Open Sans', sans-serif;

  --font-size: 1.6rem;

  --weight-regular: 400;
  --weight-semi-bold: 600;

  font-family: var(--font-family-body);
  font-size: var(--font-size);
  font-weight: var(--weight-regular);

  min-height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 3.8rem;

  color: white;
  background-color: var(--primary-violet);
  background-image: url('/frontendmentor/challenge/huddle-landing-page-with-single-introductory-section/bg-mobile.svg');
  background-repeat: no-repeat;
  background-size: 100%;
}

.header {
  background-color: transparent;
}

.header > svg {
  width: 12rem;
  height: auto;
}

.main {
  /*
    justify-content: space-between + margin-top on the children
    is like min spacing between children
  */
  margin-top: 1rem;
  text-align: center;


  background-color: transparent;

}

.main_image > img {
  width: 100%;
  height: auto;
}

.main_content {
  margin-top: 5.6rem;
}

.main_content > h1 {
  font-family: var(--font-family-header);
  font-size: 2.4rem;
  font-weight: var(--weight-semi-bold);
  line-height: 3.6rem;
}

.main_content > p {
  margin-top: 1.6rem;

  line-height: 2.4rem;
}

.main_content > button {
  margin-top: 2.4rem;

  width: 20rem;
  height: 4rem;
  font-family: var(--font-family-header);
  font-size: 1.2rem;

  outline: none;
  border: none;
  border-radius: 2rem;

  color: var(--primary-violet);
  background-color: white;

  box-shadow: .1rem .3rem .5rem 0rem hsla(0, 0%, 0%, 25%);
}

.main_content > button:hover {
  color: white;
  background-color: var(--primary-soft-magenta);
}

.main_content > button:active {
  color: white;
  background-color: var(--primary-soft-magenta);
  box-shadow: none;
}

.footer {
  /*
    justify-content: space-between + margin-top on the children
    is like min spacing between children
  */
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;

  background-color: transparent;
}

.footer > * + * {
  margin-left: 1rem;
}

.footer > button {
  width: 2.8rem;
  height: 2.8rem;

  display: flex;
  justify-content: center;
  align-items: center;

  outline: none;
  border: .1rem solid white;
  border-radius: 1.4rem;
}

.footer > button:hover {
  border: .1rem solid #FF52C1;
  color: #FF52C1;
}


@media(min-width: 1275px) {
  .container {
    padding-top: 6.4rem;
    padding-left: 8rem;
    padding-right: 8rem;

    background-image: url('/frontendmentor/challenge/huddle-landing-page-with-single-introductory-section/bg-desktop.svg');
    background-size: auto 100%;
  }

  .header > svg {
    width: 20rem;
    height: auto;
  }

  .main {
    margin-top: 5rem;
    display: flex;
    flex-direction: row;
  }

  .main_image {
    width: 54.375%;
  }

  .main_content {
    margin-top: 0rem;
    padding-top: 3.2rem;
    padding-left: 6rem;

    width: 45.625%;

    text-align: start;
  }

  .main_content > h1 {
    max-width: 25ch;
    font-size: 4rem;
    line-height: 6rem;
  }

  .main_content > p {
    max-width: 50ch;
    font-size: 1.8rem;
    line-height: 2.7rem;
  }

  .main_content > button {
    height: 5.6rem;
    font-size: 1.8rem;

    border-radius: 2.8rem;

    box-shadow: .2rem .4rem .9rem .3rem hsla(0, 0%, 0%, 25%);
  }

  .footer {
    margin-top: 1rem;
    justify-content: flex-end;
  }

  .footer > * + * {
    margin-left: 1.6rem;
  }

  .footer > button {
    width: 4rem;
    height: 4rem;

    border-radius: 2rem;
  }

}