.article_preview_component_page {
  height: 100%;
  --very-dark-grayish-blue: hsl(217, 19%, 35%);
  --desaturated-dark-blue: hsl(214, 17%, 51%);
  --grayish-blue: hsl(212, 23%, 69%);
  --light-grayish-blue: hsl(210, 46%, 95%);

  --font-family: 'Manrope', sans-serif;
  --weight-medium: 500;
  --weight-bold: 700;
  --font-size: 13px;

  font-family: var(--font-family);
  font-weight: var(--weight-medium);
  font-size: var(--font-size);
}