.container {
  --primary-desaturated-red: hsl(0, 36%, 70%);
  --primary-soft-red: hsl(0, 93%, 68%);
  --neutral-dark-grayish-red: hsl(0, 6%, 24%);

  --background-gradient-neutral: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
  --background-gradient-primary: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));

  --font-family: 'Josefin Sans', sans-serif;
  --font-size: 1.6rem;

  --weight-light: 300;
  --weight-regular: 400;
  --weight-semi-bold: 600;

  min-height: 100%;
  height: auto;

  font-family: var(--font-family);
  font-size: var(--font-size);
  font-weight: var(--weight-regular);

  display: flex;
  flex-direction: row;
  justify-content: flex-end;

}

.main_content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  background-image: var(--background-gradient-neutral);
}

.main_content_header {
  padding-top: 3rem;
  padding-left: 3rem;
  padding-bottom: 3rem;
}

.main_content_header > img {
  height: 2.2rem;
}

.image_mobile_wrapper > img {
  width: 100%;
  height: auto;
}

.main_content_content {
  margin-top: auto;
  margin-bottom: auto;

  padding-top: 3rem;
  padding-bottom: 3rem;
  padding-left: 3rem;
  padding-right: 3rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
}

.main_content_content > * + * {
  margin-top: 3rem;
}

.content_title {
  font-size: 4rem;
  letter-spacing: 1.1rem;
}

.content_title > span {
  font-weight: var(--weight-semi-bold);
  display: block;
  text-transform: uppercase;

  color: var(--neutral-dark-grayish-red);
}

.content_title > span:first-of-type {
  font-weight: var(--weight-light);
  color: var(--primary-desaturated-red);
}

.content_description {
  font-size: 1.4rem;
  line-height: 2.2rem;
  color: var(--primary-desaturated-red);
}

.content_input {
  width: 100%;
  padding-bottom: 1.8rem;
}

.content_input.input_error_email {
  padding-bottom: 0rem;
}

.input_wrapper {
  position: relative;
  width: 100%;
}

.input_wrapper > input {
  width: 100%;
  padding: 1.65rem;
  border-radius: 2.5rem;

  outline: none;
  border: .2rem solid var(--primary-desaturated-red);
}

.input_wrapper > input.input_error_email {
  border-color: var(--primary-soft-red);
}

.input_wrapper > input::placeholder {
  color: var(--primary-desaturated-red);
}

.input_wrapper > svg {
  position: absolute;
  right: 7rem;
  top: calc(50% - 1.2rem);
}

.input_wrapper > button {
  position: absolute;
  height: 100%;
  width: 6.4rem;

  border: none;
  background-image: var(--background-gradient-primary);

  border-radius: 2.5rem;
  outline: none;
  right: 0;

  box-shadow: 0rem 1.5rem 1.5rem 0rem hsla(0, 36%, 70%, 41%);
}

.input_wrapper > button:active {
  background-image: linear-gradient(135deg, hsla(0, 0%, 100%, 50%), hsla(0, 0%, 100%, 50%)), var(--background-gradient-primary);
}

.input_error {
  padding-top: .5rem;
  padding-left: 1.7rem;
  text-align: start;
  font-size: 1.3rem;
  color: var(--primary-soft-red);
}

.image_desktop_wrapper {
  display: none;
}

@media(min-width: 1024px) and (orientation: landscape) {
  .container {
    height: 100%
  }

  .main_content {
    align-items: center;
    background-image: url("/frontendmentor/challenge/base-apparel-coming-soon-page/bg-pattern-desktop.svg"), var(--background-gradient-neutral);
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }

  .main_content_header {
    width: max(32rem, 32vw);
    padding-left: 3rem;
    padding-top: 5rem;
  }

  .main_content_header > img {
    height: 3.3rem;
  }

  .main_content_content {
    max-width: 44.5rem;
    max-width: max(31rem, 31vw);
    text-align: start;

    align-items: flex-start;
  }

  .content_title {
    font-size: max(4rem, 4.44vw);
    letter-spacing: max(1rem, 1.11vw);
  }

  .content_description {
    font-size: max(1rem, 0.972vw);
    line-height: max(1.5rem, 1.527vw);
  }

  .image_mobile_wrapper {
    display: none;
  }

  .input_wrapper > input {
    padding: 1.95rem;
    border-radius: 3rem;
  }

  .input_wrapper > svg {
    right: 11rem;
  }

  .input_wrapper > button {
    width: 10rem;
    border-radius: 3rem;
  }

  .image_desktop_wrapper {
    display: block;
    height: 100%;
  }

  .image_desktop_wrapper > img {
    height: 100%;
    width: auto;
  }
}