.article_preview {
  margin-left: auto;
  margin-right: auto;

  display: flex;
  flex-direction: column;

  border-radius: 1rem;
  overflow: hidden;
  background-color: white;
}

@media (min-width: 768px) {
  .article_preview {
    overflow: visible;
    max-width: 73rem;
    max-height: 28rem;
    flex-direction: row;
  }
}