.container {
  width: 100%;
  height: 100%;

  padding-left: 25px;
  padding-right: 25px;

  padding-top: 10px;
  padding-bottom: 10px;

  display: flex;
  flex-direction: column;
  justify-content: center;

  background-color: var(--light-grayish-blue);
}

.article_preview_container {
  margin-left: auto;
  margin-right: auto;

  display: flex;
  flex-direction: column;

  border-radius: 10px;
  overflow: hidden;
  background-color: white;
}

.article_preview_image_wrapper {
  overflow: hidden;
}

.article_preview_image_wrapper > img {
  width: 100%;
  height: auto;
  margin-top: -5%;
  margin-bottom: -14.5%;
}

.article_preview_main {
  display: flex;
  flex-direction: column;
}

.article_preview_content {
  padding-top: 38px;
  padding-bottom: 20px;
  padding-left: 34px;
  padding-right: 34px;
}

.article_preview_content_title {
  font-size: 16px;
  font-weight: var(--weight-bold);
  line-height: 24px;
  color: var(--very-dark-grayish-blue);
}

.article_preview_content_description {
  margin-top: 14px;
  line-height: 20px;
  color: var(--desaturated-dark-blue);

}

.article_preview_content_author {
  position: relative;
}

.author_content {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-top: 10px;
  padding-bottom: 16px;
  padding-left: 34px;
  padding-right: 34px;
}

.author_content_description {
  display: flex;
  align-items: center;
}

.author_content_description_image {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  overflow: hidden;
}

.author_content_description_image > img {
  width: 100%;
  height: auto;
}

.author_content_description_namedate {
  margin-left: 10px;
  color: var(--grayish-blue);
}

.author_content_description_namedate > * + * {
  margin-top: 5px;
}

.author_content_description_namedate > :first-child {
  font-weight: var(--weight-bold);
  color: var(--very-dark-grayish-blue);
}

.author_content_description_share_button {
  width: 32px;
  height: 32px;
  border: none;
  border-radius: 16px;
  /* overflow: hidden; */

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--light-grayish-blue);
}

.author_content_description_share_button:hover {
  cursor: pointer;
  background-color: var(--desaturated-dark-blue);
}

.author_content_description_share_button:focus {
  outline: none;
}

.author_content_description_share_button > svg {
  width: 15px;
  height: 13px;
}

.author_content_description_share_button:hover > svg > path {
  fill: white;
}

.share_content {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 16px;
  padding-left: 34px;
  padding-right: 34px;
  background-color: var(--very-dark-grayish-blue);
}

.share_content.active {
  display: flex;
}

.share_content_main {
  display: flex;
  align-items: center;
}

.share_content_main > p {
  text-transform: uppercase;
  letter-spacing: 5px;
  color: var(--grayish-blue);
}

.share_content_main_icon_container {
  margin-left: 20px;
  display: flex;
  align-items: center;
}

.share_content_main_icon_container > * {
  display: flex;
  align-items: center;
}

.share_content_main_icon_container > * + * {
  margin-left: 16px;
}

.share_content_button {
  width: 32px;
  height: 32px;
  border: none;
  border-radius: 16px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--desaturated-dark-blue);
}

.share_content_button:hover {
  cursor: pointer;
  background-color: var(--light-grayish-blue);
}

.share_content_button:focus {
  outline: none;
}

.share_content_button > svg {
  width: 15px;
  height: 13px;
}

.share_content_button > svg > path {
  fill: white;
}

.share_content_button:hover > svg > path {
  fill: var(--desaturated-dark-blue);
}

.share_content_desktop {
  display: none;
}

@media (min-width: 900px) {
  .article_preview_container {
    overflow: visible;
    max-width: 730px;
    max-height: 280px;
    flex-direction: row;
  }

  .article_preview_image_wrapper {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }

  
  .article_preview_image_wrapper > img {
    width: auto;
    height: 100%;
    margin-top: 0%;
    margin-bottom: 0%;
  }

  .article_preview_main {
    justify-content: center;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  .article_preview_content {
    padding-top: 5px;
    padding-left: 38px;
    padding-right: 38px;
  }

  .article_preview_content_title {
    line-height: 26px;
    font-size: 20px;
  }

  .author_content {
    padding-top: 0px;
    padding-bottom: 0px;
  }


  .share_content.active {
    display: none;
  }

  .author_content_description_share_button {
    position: relative;
  }

  .share_content_desktop {
    display: none;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 28px;
    padding-right: 28px;
    border-radius: 5px;
    background-color: var(--very-dark-grayish-blue);

    box-shadow: 0px 3px 5px hsl(212, 23%, 69%, 50%);

    position: absolute;
    top: -237%;
    left: -334%;
  }
  
  .share_content_desktop.active {
    display: block;
  }

  .triange {
    position: absolute;
    width: 16px;
    height: 16px;
    bottom: -8px;
    left: 48%;
    transform: rotate(45deg);
  }

  .sharewrapper {
    position: relative;
  }
}