.container {
  min-height: 100vh;
  min-width: 100vw;
  padding: var(--s1);

  background-color: aqua;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.center {
  box-sizing: content-box;
  width: 100%;
  max-width: 920px;
  min-height: 509px;

  margin-left: auto;
  margin-right: auto;

  display: flex;
  flex-wrap: wrap;

  border-radius: 1.5rem;
  overflow: hidden;

  background-color: azure;
}

.svg_container {
  flex-grow: 1;
  flex-basis: 370px;

  /* MOBIL */
  min-height: 105px;
  /* max-height: 105px; */

  background-color: yellow;
}

.faq_container {
  flex-grow: 1;
  flex-basis: 550px;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.faq_subcontainer {
  box-sizing: content-box;
  width: 90%;

  margin-left: auto;
  margin-right: auto;
}

.faq_subcontainer > h2 {
  font-size: calc(var(--s0) * 2);
  font-weight: var(--weight-thick);
  color: var(--dark-desaturated-blue);
  margin-bottom: var(--s2);
}

