.container {
  min-height: 100vh;
  min-width: 100vw;
  padding: var(--s1);

  background-color: aqua;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.center {
  box-sizing: content-box;
  width: 100%;
  max-width: 920px;
  min-height: 509px;

  margin-left: auto;
  margin-right: auto;

  display: flex;
  flex-wrap: wrap;

  border-radius: 1.5rem;

  background-color: azure;
}

.svg_container {
  flex-grow: 1;
  flex-basis: 370px;

  /* MOBIL */
  min-height: 105px;
  max-height: 105px;

  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;

  background-image: url('/faq-accordion-card/bg-pattern-mobile.svg');
  background-size: 240px;
  background-position: 50% 0px;
  background-repeat: no-repeat;

  background-color: yellow;
  position: relative;
}

.overflow {
  min-width: 100%;
  min-height: 100%;
  position: relative;
  overflow: hidden;
  background-color: transparent;
}

.image_desktop {
  display: none;
}

.image_desktop_box {
  display: none;
}

.image_mobile {
  background-color: transparent;
  position: absolute;
  top: -108px;
  left: calc(50% - 147px);
}



.faq_container {
  flex-grow: 1;
  flex-basis: 550px;

  border-bottom-right-radius: 1.5rem;
  border-bottom-left-radius: 1.5rem;

  display: flex;
  flex-direction: column;
  padding-top: var(--s2);
  padding-bottom: var(--s2);
}

.faq_subcontainer {
  box-sizing: content-box;
  width: 90%;

  max-width: 600px;

  margin-left: auto;
  margin-right: auto;
}

.faq_subcontainer > h2 {
  width: max-content;
  margin-left: auto;
  margin-right: auto;

  font-size: calc(var(--s0) * 2);
  font-weight: var(--weight-thick);
  color: var(--dark-desaturated-blue);
  margin-bottom: var(--s2);
}


@media (min-width: 963px) {
  .svg_container {
    min-height: none;
    max-height: none;
    background-image: url('/faq-accordion-card/bg-pattern-desktop.svg');
    background-size: 255%;
    background-position: -575px -280px;
    background-repeat: no-repeat;
    border-bottom-left-radius: 1.5rem;
    border-top-right-radius: 0;


  }

  .faq_container {
    border-top-right-radius: 1.5rem;
    border-bottom-left-radius: 0rem;
    justify-content: center;

    /* max-width: none; */

  }

  .faq_subcontainer > h2 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .image_desktop {
    display: initial;
    width: 122%;
    height: auto;
    position: absolute;
    top: 76px;
    left: -82px;
    background-color: transparent;
  }
  
  .image_desktop_box {
    display: initial;
    position: absolute;
    width: 46%;
    top: 207px;
    left: -83px;
    background-color: transparent;
  }

  .image_mobile {
    display: none;
  }
}

