.container {
  --cyan: hsl(179, 62%, 43%);
  --bright-yellow: hsl(71, 73%, 54%);
  --light-gray: hsl(204, 43%, 93%);
  --grayish-blue: hsl(218, 22%, 67%);

  --font-family: 'Karla', sans-serif;
  --font-size: 1.6rem;
  --weight-regular: 400;
  --weight-bold: 700;

  font-family: var(--font-family);
  font-size: var(--font-size);
  font-weight: var(--weight-regular);

  min-height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding-top: 2rem;
  padding-bottom: 2rem;

  background-color: var(--light-gray);
}

.container_centered {
  max-width: 31.1rem;
}

.introduction_container {
  padding-top: 2.8rem;
  padding-bottom: 3.2rem;
  padding-left: 2.4rem;
  padding-right: 2.4rem;
  border-top-left-radius: .5rem;
  border-top-right-radius: .5rem;
  background-color: white;
}

.introduction_container > * + * {
  margin-top: 2.4rem;
}

.introduction_container > h1 {
  font-size: 2rem;
  font-weight: var(--weight-bold);
  letter-spacing: -.019rem;
  color: var(--cyan);
}

.introduction_container > p:first-of-type {
  font-size: 1.5rem;
  font-weight: var(--weight-bold);
  letter-spacing: -0.019rem;
  line-height: 2rem;
  color: var(--bright-yellow);
}

.introduction_container > p:last-of-type {
  font-size: 1.4rem;
  letter-spacing: -.017rem;
  line-height: 2.6rem;
  color: var(--grayish-blue);
}

.main_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  color: white;


  border-bottom-left-radius: .5rem;
  border-bottom-right-radius: .5rem;
  background-color: var(--cyan);
}

.subscription_container {
  padding: 2.4rem;
}

.subscription_container > p:first-of-type {
  font-size: 1.8rem;
  font-weight: var(--weight-bold);
  letter-spacing: .022rem;
}

.subscription_container > p:nth-of-type(2) {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.6rem;
  letter-spacing: -.02rem;
  color: var(--light-gray);
}

.subscription_container > p:nth-of-type(2) > span:first-of-type {
  font-size: 3.2rem;
  font-weight: var(--weight-bold);
  letter-spacing: -.04rem;
  color: white;
}

.subscription_container > p:nth-of-type(2) > span:last-of-type {
  margin-left: 1rem;
  color: hsla(0, 100%, 100%, 40%);
}

.subscription_container > p:last-of-type {
  margin-top: 1.8rem;
  letter-spacing: -.02rem;
  color: hsla(0, 100%, 100%, 90%);
}

.subscription_container > button {
  margin-top: 2.5rem;
  width: 100%;
  padding: 1.5rem;

  font-size: 1.6rem;
  font-weight: var(--weight-bold);
  letter-spacing: -.02rem;

  border: none;
  outline: none;
  border-radius: .5rem;

  background-color: var(--bright-yellow);
  box-shadow: 0rem 1.0rem 1.0rem 0rem hsla(0, 0%, 0%, 15%);
}

.subscription_container > button:active {
  background-color: hsl(71, 73%, 50%);
  box-shadow: none;
}

.description_container {
  padding: 2.4rem;

  border-bottom-left-radius: .5rem;
  border-bottom-right-radius: .5rem;
  background-color: hsla(0, 100%, 100%, 15%);
}

.description_container > * {
  background-color: transparent;
}

.description_container > p:first-of-type {
  font-size: 1.8rem;
  font-weight: var(--weight-bold);
  letter-spacing: -.022rem;
}

.description_container > p:last-of-type {
  margin-top: 2rem;
  font-size: 1.4rem;
  letter-spacing: -.017rem;
  line-height: 2rem;
  color: hsla(0, 100%, 100%, 75%);

  display: flex;
  flex-direction: column;
}

@media(min-width: 700px) {
  .container {
    flex-direction: row;
  }

  .container_centered {
    max-width: 64.5rem;
    height: 47.5rem;
  }

  .introduction_container {
    padding: 4rem;
  }

  .introduction_container > h1 {
    font-size: 2.4rem;
    letter-spacing: -.03rem;
  }
  
  .introduction_container > p:first-of-type {
    font-size: 1.8rem;
    letter-spacing: -.022rem;
  }
  
  .introduction_container > p:last-of-type {
    max-width: 55ch;
    font-size: 1.6rem;
    letter-spacing: -.020rem;
  }

  .main_container {
    flex-direction: row;

    border-bottom-left-radius: .5rem;
    border-bottom-right-radius: .5rem;
  }

  .main_container > * {
    width: 50%;
  }

  .subscription_container {
    padding: 3.5rem;
    border-bottom-left-radius: .5rem;
  }

  .description_container {
    padding: 3.5rem;
    border-bottom-left-radius: 0rem;
  }
}