.container {
  --color-primary-green: hsl(157, 74%, 62%);
  --color-primary-grey: hsl(225, 26%, 23%);
  --color-primary-dark: hsl(224, 35%, 11%);
  --color-primary-white: hsl(0, 0%, 100%);


  --color-secondary-grey: hsl(225, 21%, 45%);
  --color-secondary-light-grey: hsl(225, 40%, 83%);
  --color-secondary-green: hsl(157, 100%, 85%);
  --color-secondary-red: hsl(0, 96%, 61%);

  --font-family: 'Chivo', sans-serif;
  --font-size: 1.5rem;

  --weight-light: 300;
  --weight-bold: 700;
  --weight-black: 900;

  font-family: var(--font-family);
  font-size: var(--font-size);
  font-weight: var(--weight-light);

  min-height: 100%;

  display: flex;
  justify-content: center;

  background-color: var(--color-primary-dark);
  background-image: linear-gradient(hsla(224, 35%, 11%, 90%), hsla(224, 35%, 11%, 90%)), url('/frontendmentor/challenge/pod-request-access-landing-page/image-host-mobile.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-blend-mode: normal;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: transparent;
}

.main {
  margin-top: 5.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}

.main > h1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
  text-transform: uppercase;
  font-size: 2.6rem;
  line-height: 3.8rem;
  color: var(--color-primary-white);
}

.main > h1 > span:first-of-type {
  color: var(--color-primary-green);
}

.main > p {
  margin-top: 1.6rem;

  text-align: center;
  max-width: 35ch;

  font-size: 1.5rem;
  line-height: 2.5rem;
  color: var(--color-secondary-light-grey);
}

.input_container {
  margin-top: 5.2rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  order: 1;
}

.input_container > * {
  height: 4.6rem;
  outline: none;
  border: none;
  border-radius: 2.4rem;

  font-size: 1.4rem;
  font-weight: var(--weight-bold);
}

.input_container > input {
  padding-left: 3.4rem;
  color: var(--color-primary-white);
  background-color: var(--color-primary-grey);
}

.input_container > input::placeholder {
  color: hsl(0, 0%, 100%, 50%);
}

.input_container > button {
  margin-top: 1.6rem;

  color: var(--color-primary-dark);
  background-color: var(--color-primary-green);
}

.input_container > button:hover {
  background-color: var(--color-secondary-green);
}

.error_message {
  height: auto;
  padding-top: .5rem;
  padding-left: 3.4rem;
  font-size: 1.2rem;
  color: var(--color-secondary-red);
}

.icon_container {
  margin-top: 3.3rem;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.icon_container > svg:first-of-type {
  height: auto;
  width: 5.6rem;
}

.icon_container > svg:nth-of-type(2) {
  height: auto;
  width: 4.5rem;
}

.icon_container > svg:nth-of-type(3) {
  height: auto;
  width: 7.3rem;
}

.icon_container > svg:last-of-type {
  height: auto;
  width: 7.7rem;
}



@media(min-width: 768px) {
  .container {
    justify-content: stretch;

    background-image: url('/frontendmentor/challenge/pod-request-access-landing-page/bg-pattern-dots.svg'), url('/frontendmentor/challenge/pod-request-access-landing-page/image-host-tablet.jpg');
    background-repeat: no-repeat, no-repeat;
    background-position: 3rem bottom, right top;
    background-size: auto;

    background-size: auto, auto 75%;

    padding-top: 5vh;
    padding-left: 5vw;
  }

  .wrapper {
    margin-bottom: 25vh;
    justify-content: space-between;
    align-items: stretch;
  }

  .main {
    margin-top: 0rem;

    width: 63.5rem;
    height: 50.9rem;
    background-color: var(--color-primary-dark);

    justify-content: flex-end;
    align-items: stretch;
  }

  .main > h1 {
    margin-bottom: 3rem;

    justify-content: stretch;
    align-items: stretch;

    text-align: start;

    font-size: 4.8rem;
    line-height: 5.6rem;
  }

  .main > p {
    margin-top: 0rem;
    margin-bottom: 4rem;

    text-align: start;

    font-size: 1.8rem;
    line-height: 2.8rem;

    max-width: 40ch;
  }

  .input_container {
    margin-top: 0rem;

    margin-bottom: 4rem;
    height: 8rem;
    position: relative;
    display: block;
    order: initial;
  }

  .input_container > input {
    width: 42.7rem;
    height: 5.6rem;
    border-radius: 2.8rem;
  }

  .input_container > button {
    width: 16.2rem;
    margin-top: 0rem;
    position: absolute;
    top: .5rem;
    left: 26rem;
  }

  .icon_container {
    margin-top: 0rem;

    width: 54rem;
    justify-content: space-between;
  }

  .icon_container > svg:first-of-type {
    height: auto;
    width: 9.6rem;
  }
  
  .icon_container > svg:nth-of-type(2) {
    height: auto;
    width: 7.8rem;
  }
  
  .icon_container > svg:nth-of-type(3) {
    height: auto;
    width: 12.5rem;
  }
  
  .icon_container > svg:last-of-type {
    height: auto;
    width: 12.9rem;
  }
}

@media(min-width: 1440px) {
  .container {
    background-image: url('/frontendmentor/challenge/pod-request-access-landing-page/bg-pattern-dots.svg'), url('/frontendmentor/challenge/pod-request-access-landing-page/image-host-desktop.jpg');
    background-repeat: no-repeat, no-repeat;
    background-position: right calc((50% + 35% + 4.5%)), right center;
    background-size: auto;
    background-size: auto 11.5%, auto 70%;

    padding-left: 11.5vw;
    padding-top: calc(15vh - 2.95rem);
  }

  .wrapper {
    margin-bottom: 15vh;
  }

  .main {
    width: 72.3rem;
  }

  .main > h1 {
    font-size: 5.2rem;
    line-height: 6.2rem;
  }
}