.question_answer {
  --space: var(--s0);
  --font-size: calc( ((var(--s0) - var(--s-1)) / 2) + var(--s-1) );
  overflow: hidden;
  max-height: calc((var(--space) * 2) + var(--font-size));
  transition: max-height .5s ease-out;

}

.question_answer.collapse {
  max-height: calc(((var(--space) * 2) + var(--font-size)) * 2);
}

.question {
  display: flex;
  justify-content: space-between;
  padding-top: var(--space);
  padding-bottom: var(--space);
}

.question.collapse > p,
.question.collapse:hover > p {
  font-weight: var(--weight-thick);
  color: var(--dark-desaturated-blue);
}

.question > img {
  max-width: none;
  height: 100%;
  width: auto;
}

.question.collapse > img {
  transform: rotate(180deg)
}

.question > p {
  font-size: calc( ((var(--s0) - var(--s-1)) / 2) + var(--s-1) );
  color: var(--very-dark-grayish-blue);
}

.question:hover > p {
  color: var(--soft-red)
}

.answer {
  padding-bottom: var(--space);
}


.divider {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
}