.container {
  --primary-violet: hsl(257, 40%, 49%);
  --primary-soft-magenta: hsl(300, 69%, 71%);

  --font-family-header: 'Poppins', sans-serif;
  --font-family-body: 'Open Sans', sans-serif;

  --font-size: 16px;

  --weight-regular: 400;
  --weight-semi-bold: 600;

  font-family: var(--font-family-body);
  font-size: var(--font-size);
  font-weight: var(--weight-regular);

  min-height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 38px;

  color: white;
  background-color: var(--primary-violet);
  background-image: url('/huddle-landing-page-with-single-introductory-section/bg-mobile.svg');
  background-repeat: no-repeat;
  background-size: 100%;
}

.header {
  background-color: transparent;
}

.header > svg {
  width: 120px;
  height: auto;
}

.main {
  /*
    justify-content: space-between + margin-top on the children
    is like min spacing between children
  */
  margin-top: 10px;
  text-align: center;


  background-color: transparent;

}

.main_image > img {
  width: 100%;
  height: auto;
}

.main_content {
  margin-top: 56px;
}

.main_content > h1 {
  font-family: var(--font-family-header);
  font-size: 24px;
  font-weight: var(--weight-semi-bold);
  line-height: 36px;
}

.main_content > p {
  margin-top: 16px;

  line-height: 24px;
}

.main_content > button {
  margin-top: 24px;

  width: 200px;
  height: 40px;
  font-family: var(--font-family-header);
  font-size: 12px;

  outline: none;
  border: none;
  border-radius: 20px;

  color: var(--primary-violet);
  background-color: white;

  box-shadow: 1px 3px 5px 0px hsla(0, 0%, 0%, 25%);
}

.main_content > button:hover {
  color: white;
  background-color: var(--primary-soft-magenta);
}

.main_content > button:active {
  color: white;
  background-color: var(--primary-soft-magenta);
  box-shadow: none;
}

.footer {
  /*
    justify-content: space-between + margin-top on the children
    is like min spacing between children
  */
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;

  background-color: transparent;
}

.footer > * + * {
  margin-left: 10px;
}

.footer > button {
  width: 28px;
  height: 28px;

  display: flex;
  justify-content: center;
  align-items: center;

  outline: none;
  border: 1px solid white;
  border-radius: 14px;
}

.footer > button:hover {
  border: 1px solid #FF52C1;
  color: #FF52C1;
}


@media(min-width: 1275px) {
  .container {
    padding-top: 64px;
    padding-left: 80px;
    padding-right: 80px;

    background-image: url('/huddle-landing-page-with-single-introductory-section/bg-desktop.svg');
    background-size: auto 100%;
  }

  .header > svg {
    width: 200px;
    height: auto;
  }

  .main {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
  }

  .main_image {
    width: 54.375%;
  }

  .main_content {
    margin-top: 0px;
    padding-top: 32px;
    padding-left: 60px;

    width: 45.625%;

    text-align: start;
  }

  .main_content > h1 {
    max-width: 25ch;
    font-size: 40px;
    line-height: 60px;
  }

  .main_content > p {
    max-width: 50ch;
    font-size: 18px;
    line-height: 27px;
  }

  .main_content > button {
    height: 56px;
    font-size: 18px;

    border-radius: 28px;

    box-shadow: 2px 4px 9px 3px hsla(0, 0%, 0%, 25%);
  }

  .footer {
    margin-top: 10px;
    justify-content: flex-end;
  }

  .footer > * + * {
    margin-left: 16px;
  }

  .footer > button {
    width: 40px;
    height: 40px;

    border-radius: 20px;
  }

}