.container {
  --very-dark-grayish-blue: hsl(217, 19%, 35%);
  --desaturated-dark-blue: hsl(214, 17%, 51%);
  --grayish-blue: hsl(212, 23%, 69%);
  --light-grayish-blue: hsl(210, 46%, 95%);

  --font-family: 'Manrope', sans-serif;
  --weight-medium: 500;
  --weight-bold: 700;
  --font-size: 1.3rem;

  font-family: var(--font-family);
  font-weight: var(--weight-medium);
  font-size: var(--font-size);
  
  width: 100%;
  min-height: 100%;

  padding-left: 2.5rem;
  padding-right: 2.5rem;

  padding-top: 1rem;
  padding-bottom: 1rem;

  display: flex;
  flex-direction: column;
  justify-content: center;

  background-color: var(--light-grayish-blue);
}

@media (min-width: 768px) {
  .container {
    padding-left: 0rem;
    padding-right: 0rem;
  }
}