.share_bubble_container {
  display: none;
}

@media (min-width: 900px) {
  .share_bubble_container {
    display: none;
    padding-top: 1.4rem;
    padding-bottom: 1.4rem;
    padding-left: 2.8rem;
    padding-right: 2.8rem;
    border-radius: .5rem;
    background-color: var(--very-dark-grayish-blue);

    box-shadow: 0rem .3rem .5rem hsl(212, 23%, 69%, 50%);

    position: absolute;
    top: -237%;
    left: -334%;
  }
  
  .share_bubble_container.active {
    display: block;
  }

  .triangle {
    position: absolute;
    width: 1.6rem;
    height: 1.6rem;
    bottom: -0.8rem;
    left: 48%;
    transform: rotate(45deg);
  }
}