* {
	box-sizing: border-box;
	font-family: inherit;
	background-color: inherit;
	color: inherit;
}

html, body {
	height: 100%;
	width: 100%;
}

html,
body,
div,
header,
nav,
main,
footer {
	max-width: none;
}