.container {
  min-height: 100vh;
  min-width: 100vw;

  padding-left: var(--s1);
  padding-right: var(--s1);

  padding-top: 13.3rem;
  padding-bottom: 13.3rem;

  background: linear-gradient(180deg, var(--soft-violet) 0%, var(--soft-blue) 100%);

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.center {
  box-sizing: content-box;
  width: 100%;
  max-width: 92rem;
  min-height: 50.9rem;

  margin-left: auto;
  margin-right: auto;

  display: flex;
  flex-wrap: wrap;

  border-radius: 2.4rem;

  background-color: white;
}

.svg_container {
  flex-grow: 1;
  flex-basis: 37rem;

  /* MOBIL */
  min-height: 10.5rem;
  max-height: 10.5rem;

  border-top-left-radius: 2.4rem;
  border-top-right-radius: 2.4rem;

  background-image: url('/frontendmentor/challenge/faq-accordion-card/bg-pattern-mobile.svg');
  background-size: 24rem;
  background-position: 50% 0rem;
  background-repeat: no-repeat;

  position: relative;
}

.overflow {
  min-width: 100%;
  min-height: 100%;
  position: relative;
  overflow: hidden;
  background-color: transparent;
}

.image_desktop {
  display: none;
}

.image_desktop_box {
  display: none;
}

.image_mobile {
  background-color: transparent;
  position: absolute;
  top: -10.8rem;
  left: calc(50% - 14.7rem);
}

.faq_container {
  flex-grow: 1;
  flex-basis: 55rem;

  border-bottom-right-radius: 2.4rem;
  border-bottom-left-radius: 2.4rem;

  display: flex;
  flex-direction: column;
  padding-top: var(--s4);
  padding-bottom: var(--s4);
}

.faq_subcontainer {
  box-sizing: content-box;
  width: 90%;

  max-width: 60rem;

  margin-left: auto;
  margin-right: auto;
}

.faq_subcontainer > h2 {
  width: max-content;
  margin-left: auto;
  margin-right: auto;

  font-size: calc(var(--s0) * 2);
  font-weight: var(--weight-thick);
  color: var(--dark-desaturated-blue);
  margin-bottom: var(--s2);
}

@media (min-width: 963px) {
  .svg_container {
    min-height: none;
    max-height: none;
    background-image: url('/frontendmentor/challenge/faq-accordion-card/bg-pattern-desktop.svg');
    background-size: 255%;
    background-position: -57.5rem -28rem;
    background-repeat: no-repeat;
    border-bottom-left-radius: 2.4rem;
    border-top-right-radius: 0;
  }

  .faq_container {
    border-top-right-radius: 2.4rem;
    border-bottom-left-radius: 0rem;
    justify-content: center;
  }

  .faq_subcontainer > h2 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .image_desktop {
    display: initial;
    width: 122%;
    height: auto;
    position: absolute;
    top: 7.6rem;
    left: -8.2rem;
    background-color: transparent;
  }
  
  .image_desktop_box {
    display: initial;
    position: absolute;
    width: 46%;
    top: 20.7rem;
    left: -83rem;
    background-color: transparent;
  }

  .image_mobile {
    display: none;
  }
}

